.row
  %ul.breadcrumbs
    %li
      %a(href="index.html") Home
    %li
      = link_to @course.title, course_path(@course.id) 
    %li
      = link_to @quiz.chapter.title, chapter_path(@quiz.chapter.id)
    %li.current= @quiz.title 
%header.row
  %h1.subheader= @quiz.title 
.row
  .large-8.columns
    .panel
      %p
        %strong= @question.title 
      - if @question.answers != []
        = form_tag update_answer_path, method: :post, class: "custom" do 
          - @question.answers.each do |answer|            
            %label 
              = radio_button_tag :id, answer.id, false 
              %span.custom.radio
              = answer.title
            %br
          = submit_tag "Answer Question", class: "button"
      - else
        %p no answers available
  %aside.large-4.columns
    .panel
      %p
        %i.fi-graph-trend
        %strong Quiz
        %br
        Question 1 of 4
      .progress.large-6.success
        %span.meter(style="width: 20%")
