.row
  %ul.breadcrumbs
    %li
      = link_to "Courses", admin_courses_path
    %li
      = link_to @chapter.course.title, admin_course_path(@chapter.course_id)
    %li.unavailable Chapters
    %li
      = link_to @chapter.title, admin_chapter_path(@chapter.id)
    %li.unavailable Quiz
    %li.current New
.row
  .large-12.columns
    %h1 Add a quiz
    = form_for [:admin, @chapter, @quiz] do |f|
      = render 'shared/error_messages', target: @quiz
      .row
        .row
          .large-2.columns
            = f.label :title, "Quiz Title:"  
          .large-6.columns
            = f.text_field :title
          .large-4.columns
        .row
          .large-6.columns
            %input(type="submit" class="button success" value="Add Quiz")
