.row
  %ul.breadcrumbs
    %li
      = link_to "Courses", admin_courses_path
    %li
      = link_to @chapter.course.title, admin_course_path(@chapter.course_id)
    %li.unavailable Chapters
    %li= @chapter.title
    %li.unavailable Quiz
    %li.current= @quiz.title
.row
  %h3= @quiz.title 
  .large-12.columns
    .row
      = link_to "Edit Quiz", edit_admin_chapter_quiz_path(@quiz.chapter_id, @quiz.id), class: "button success radius"
      &nbsp;
      = link_to "Delete Quiz", admin_chapter_quiz_path(@quiz.chapter_id, @quiz.id), class: "button alert radius", method: :delete, confirm: "Deleting a quiz will also delete all questions and answers. Proceed?"

