.row.collapse
  %h1 Sign Up for the Gold Subscription Plan
  .large-2.columns
    %img(src="../images/stylesheets.png" width="126" height="126")
  .large-10.columns
    %h3.subheader The Gold Subscription Plan gives you 20 employee accounts and is valid for a year
.row
  %hr
= form_for @user do |f|
  .row
    .large-9.columns
      %h3 Register
      .row
        .large-3.columns
          = f.label :email, "Email Address:"
        .large-9.columns
          = f.text_field :email, placeholder: "email@mycompany.com"
      .row
        .large-3.columns
          = f.label :password, "Password:"
        .large-9.columns
          = f.password_field :password
      .row
        .large-3.columns
          = f.label :full_name, "Fullname:"
        .large-9.columns
          = f.text_field :full_name
  .row
    .large-6.columns
      = f.submit "Sign Up", class: "button success radius"
