.row
  %ul.breadcrumbs
    %li
      = link_to @quiz.title, admin_quiz_path(@quiz.id)
    %li.unavailable Questions
    %li
      = link_to @question.title, admin_quiz_question_path(@quiz.id, @question.id)
    %li.current Edit
.row
  %h3.subheader= "Edit Answer: #{@answer.title}"
  = form_for [:admin, @question, @answer] do |f|
    = render 'shared/error_messages', target: @answer
    .row
      .large-12.columns
      &nbsp;
      .row
        .large-2.columns
          = f.label :title, "Answer:"
        .large-8.columns
          = f.text_field :title 
        .large-2.columns
      .row
        .large-2.columns
          = f.label :title, "Is correct:"
        .large-6.columns
          = f.check_box :correct 
        .large-4.columns
      .row
        .large-2.columns
          = f.label :feedback, "Feedback:"
        .large-8.columns
          = f.text_area :feedback
        .large-2.columns
      .row
        .large-6.columns
          %input(type="submit" class="button success radius" value="Update Answer")
