.row
  %ul.breadcrumbs
    %li
      = link_to "Courses", admin_courses_path
    %li
      = link_to @chapter.course.title, admin_course_path(@chapter.course_id)
    %li
      = link_to @chapter.title, admin_chapter_path(@chapter.id)
    %li.unavailable Quiz
    %li
      = link_to @quiz.title, admin_quiz_path(@quiz.id)
    %li.unavailable Questions
    %li.current
      = @question.title
.row
  .large-12.columns
    %h3 
      Question 
      = @question.id
    .row
      .large-7.columns
        %p
          %strong Title:
          = @question.title
      .large-5.columns
        = link_to "Edit Question", edit_admin_quiz_question_path(@question.quiz_id, @question.id), class: "button success radius"
        &nbsp;
        = link_to "Delete Question", admin_quiz_question_path(@question.quiz_id, @question.id), method: :delete, class: "button alert radius"
     
