.row
  %ul.breadcrumbs
    %li
      = link_to "Courses", admin_courses_path
    %li
      = link_to @chapter.course.title, admin_course_path(@chapter.course_id)
    %li
      = link_to @chapter.title, admin_chapter_path(@chapter.id)
    %li.unavailable Quiz
    %li
      = link_to @quiz.title, admin_quiz_path(@quiz.id)
    %li.unavailable Questions
    %li.current
      = @question.title
.row
  .large-12.columns
    %h3 
      Question 
      = @question.id
    .row
      .large-7.columns
        %p
          %strong Title:
          = @question.title
      .large-5.columns
        = link_to "Edit Question", edit_admin_quiz_question_path(@question.quiz_id, @question.id), class: "button success radius"
        &nbsp;
        = link_to "Delete Question", admin_quiz_question_path(@question.quiz_id, @question.id), method: :delete, data: { text: "Are you sure you want to delete question '#{@question.title}'?" }, class: "button alert radius"
.row
  %h4.subheader Answers
  - if @question.answers.count != 0
    .large-9.columns
      %table.large-12.columns
        %tr
          %td Id
          %td Answer
          %td Is correct?
        - @question.answers.each do |answer| 
          %tr
            %td= answer.id
            %td
              = link_to answer.title, admin_question_answer_path(@question.id, answer.id)
            %td
              = answer.correct?
  - else
    %p this question has no answers

  = link_to "Add Answer", new_admin_question_answer_path(@question.id), class: "button success radius"
          
