.row
  %ul.breadcrumbs
    %li
      %a(href="index.html") Home
    %li.current= @course.title 
%header.row
  .panel.callout
    %h1= @course.title 
    %p= @course.description 
.row
  .large-9.columns
    - @course.chapters.each do |chapter|
      .row
        %h3.subheader= chapter.title 
        .large-4.columsn
          %img.left(src="../images/fundamentals.png" width="126" height="126")
        .large-8.columns
          %p= chapter.description 
          = link_to "Get started", course_chapter_path(chapter, chapter.course_id), class: "small button success right"
      - if chapter != @course.chapters.last
        .row
          %br
          %hr
