.row
  %ul.breadcrumbs
    %li
      %a(href="index.html") Home
    %li
      = link_to @chapter.course.title, course_path(@chapter.course_id) 
    %li.current= @chapter.title 
.row
  .large-12.columns
    %h1.subheader= @chapter.title 
.row
  .large-8.columns
    .flex-video
      -if @chapter.videos != []
        - if @video
          %iframe(width="420" height="315" src="#{ @video.video }" frameborder="0" allowfullscreen)
        - else
          %iframe(width="420" height="315" src="#{ @chapter.videos.first.video }" frameborder="0" allowfullscreen)
        - if @video
          %h3= @video.title
          %p=  @video.description
        - else
          %h3= @chapter.videos.first.title
          %p=  @chapter.videos.first.description
      - else
        %p no videos at the moment

    %table.large-12.columns
      - if @chapter.videos != []
        - @chapter.videos.each do |video|
          %tr
            %td
              %i.fi-play-video
            %td 
              = link_to video.title, chapter_video_path(chapter_id: @chapter.id, id: video.id) 
            %td= "#{ video.mins } mins - #{ video.secs } secs"
            %td
              %i.fi-check
        %tr
          %td
            &nbsp;
          %td
            - if quiz_complete(current_user, @chapter.quiz.id)
              = link_to "Retake quiz", quiz_retake_path(@chapter.quiz.id), confirm: "this will remove you previous quiz data, are you sure?", class: "small button"
            - else
              = link_to "Take quiz", quiz_path(@chapter.quiz.id), class: "small button"

          %td
            &nbsp;
          %td
            &nbsp;
      
  .large-4.columns
    %aside
      .panel
        = image_tag @chapter.badge_image.url(:thumb), class: "left" if @chapter.badge_image?
        %p
          &nbsp;
        %h4= @chapter.title 
        %p
          %strong
            Total Time: 00:21:37
          %br
          = @chapter.description 
