.row
  %ul.breadcrumbs
    %li
      = link_to "Courses", admin_courses_path 
    %li
      = link_to @chapter.course.title, admin_course_path(@chapter.course_id) 
    %li.unavailable
      %a(href="#") Chapters
    %li.current
      = @chapter.title 
.row
  .large-12.columns
    %h3= @chapter.title
    .row
      .large-7.columns
        %p
          %strong Description:
          = @chapter.description
        %p 
          %strong Badge Tagline:
          = @chapter.tagline
        %p
          %strong Badge Image:
        = image_tag(@chapter.badge_image, class: 'th')
      .large-5.columns
        = link_to "Edit Chapter", edit_admin_course_chapter_path(@chapter.course_id, @chapter.id), class: "button success radius"
        &nbsp;
        = link_to "Delete Chapter", admin_course_chapter_path(@chapter.course_id, @chapter.id), method: :delete, data: { text: "Deleting a chapter will also delete all the quiz and all videos. Proceed?" }, class: "button alert radius"
    .row
      .large-12.columns
        &nbsp;
    .row
      %h4.subheader Videos
      .large-9.columns
        %table.large-12.columns
          %tr
            %td Id
            %td Video Title
            %td Duration
          - @chapter.videos.each do |video|
            %tr
              %td= video.id 
              %td
                = link_to video.title, admin_chapter_video_path(@chapter.id, video.id) 
              %td= "#{video.mins} - #{video.secs}"
      .large-3.columns
        = link_to "Add Video", new_admin_chapter_video_path(chapter_id: @chapter.id), class: "button success radius"
    .row
      %h4.subheader Quiz
      - if @chapter.quiz.present?
        .large-9.columns
          %table.large-12.columns
            %tr
              %td Id
              %td Quiz Title
            %tr
              %td= @chapter.quiz.id
              %td= link_to @chapter.quiz.title, admin_chapter_quiz_path(@chapter.id, @chapter.quiz.id)
        .large-3.columns
          = link_to "Delete Quiz", admin_chapter_quiz_path(@chapter.id, @chapter.quiz.id), method: :delete, class: "button alert radius"
      - else
        = link_to "Add Quiz", new_admin_chapter_quiz_path(chapter_id: @chapter.id), class: "button success radius"
        
