.row
  %ul.breadcrumbs
    %li= link_to "Courses", admin_courses_path
    %li= link_to @course.title, admin_course_path(@course.id)
    %li.current Edit Course
.row
  .large-12.columns
    %h1 Edit Course
    = form_for [:admin, @course], html: { multipart: true } do |f|
      = render 'shared/error_messages', target: @course
      .row
        .large-2.columns
          = f.label :title, "Course Title:" 
        .large-7.columns
          = f.text_field :title 
        .large-3.columns
      .row
        .large-2.columns
          = f.label :description, "Course Description:"
        .large-7.columns
          = f.text_area :description, placeholder: "description for the course"
        .large-3.columns
          &nbsp;
      .row
        .large-2.columns
          = f.label :image, "Course Image:"
        .large-4.columns
          = image_tag(@course.image)
        .large-6.columns
          = f.file_field :image
      .row
        .large-3.columns
          = f.submit "Update Course", class: "button success radius"
