.row
  %ul.breadcrumbs
    %li
      %a(href="#") Home
    %li.current
      %a(href="courses.html") Courses
.row
  .large-12.columns
    %h3 Courses
    .large-9.columns
      %table.large-12.columns
        %tr>
          %td Id
          %td Course Title
          %td Edit
        - @courses.each do |course|
          %tr
            %td= course.id
            %td= course.title
            %td 
              = link_to "Edit", edit_admin_course_path(course)
              &nbsp;&nbsp;
              = link_to "Delete", admin_course_path(course.id), method: :delete
    .large-3.columns
      = link_to "Add Course", new_admin_course_path, class: "button success"
